.app{
    max-width: 1980px;
    display: grid;
    margin: 0;
    text-align: center;
    align-items: center;
    grid-template-rows: repeat(3, minmax( 50px, auto));
    
    Nav{
        margin: 0;
    }

    .container{
        grid-template-rows: repeat(3, minmax( 500px, auto));
        grid-gap: 1px;
    }

    .footer{
        padding: 15px 1px;
        background: lightgray;
        color: grey;
        height: 30px;
        
    }
}

.fade-appear{
    opacity: 0;
}

.fade-appear .fade-appear-active {
    opacity: 1;
    transition: opacity 1s ease-out;
    transition-delay: 0.3s;
}

.fade-appear-active {
    opacity: 1;
    transition: opacity 1s ease-out;
    transition-delay: 0.3s;
}
